@mixin position($position, $top: 0, $left: 0, $right: 0) {
    position: $position;
    top: #{$top}px;
    left: #{$left}px;
    right: #{$right}px;
}

@mixin display-flex($flex-direction, $justify-content: center, $align-items: center) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin dropdown-hover {
    opacity: 1;
    transform: translateY(0%);
    transition: 0.2s 0.4s;
}

@mixin response($breakpoint) {
    @if ($breakpoint == m) {
        @media (max-width: 500px) {
            @content;
        }
    }
}

@mixin keyframes($name) {
    @if ($name == slide) {
        @keyframes slide {
            0% {
                visibility: hidden;
                opacity: 0;
            }
            2% {
                visibility: visible;
                opacity: 1;
            }
            18% {
                visibility: visible;
                opacity: 1;
            }
            20%,
            100% {
                visibility: hidden;
                opacity: 0;
            }
        }
    }
}
