@import 'variables';
@import 'mixin';

.logo {
    background-color: #fff;
    height: 150px;
    line-height: 150px;
    margin: 0 auto;
    font: {
        size: size(2xl);
        weight: weight(bold);
    }
}

.login {
    @include position(fixed, 10, none, 10);
    font-size: size(xs);
    width: auto;
}

.navBar {
    @include display-flex(column, center, center);
    @include position(sticky, 0);
    background-color: #fff;
    width: 100vw;
    height: 200px;
    z-index: z-index(d);
}

.navItems {
    @include display-flex(row, space-between, '');
    position: relative;
    min-width: 500px;
    height: 30px;
}

.navItem {
    flex-basis: auto;
    list-style: none;
    font-size: size(m);

    a {
        text-decoration: none;
        color: color(heavy-grey);
    }

    &:hover a {
        color: color(light-grey);
        border-bottom: 2px solid color(yellow);
    }

    &:hover + .dropDown {
        @include dropdown-hover;
    }
}

.dropDown {
    @include position(absolute, 0, 80, none);
    min-width: 300px;
    height: auto;
    margin-top: 30px;
    padding: 8px;
    transform: translateY(-1000%);
    opacity: 0;
    transition: 0.3s 0.6s;
    z-index: z-index(b);

    .dropDownItem {
        list-style: none;
        padding: 8px;
        font-size: size(s);

        a {
            text-decoration: none;
            color: color(heavy-grey);
        }

        &:hover a {
            font-size: size(m);
            color: color(light-grey);
            border-bottom: 1px solid color(yellow);
        }
    }
    &:hover {
        @include dropdown-hover;
    }
}

.sideDrawer,
.menuToggle {
    display: none;
}

@include response(m) {
    .menuToggle {
        @include position(fixed, 10, 10, none);
        display: block;
        font-size: size(xl);
        cursor: pointer;
    }

    .menuClose {
        @include position(absolute, 10, none, 10);
        font-size: size(l);
        cursor: pointer;
    }

    .sideDrawer {
        @include position(fixed, 0, 0, none);
        transform: translateX(-100%);
        display: block;
        min-width: 70%;
        height: 100%;
        background-color: #fff;
        padding: 32px 16px;
        box-sizing: border-box;
        z-index: z-index(h);
        transition: transform 0.4s cubic-bezier(0.9, 0.1, 0.94, -0.07) 0.2s;
    }

    .navBar {
        height: 50px;

        & .navItems,
        & .logo,
        & .login {
            display: none;
        }
    }

    .logo-Side-Drawer {
        z-index: z-index(i);
        text-align: left;
        font: {
            size: size(l);
            weight: weight(bold);
        }
    }

    .navItems-Side-Drawer {
        @include display-flex(column, center, flex-start);
        z-index: z-index(i);
        width: 100px;
        margin-top: 20px;

        & .navItem {
            background-color: transparent;
            padding: 5px 0;

            &:hover + .dropDown {
                display: block;
            }
        }
    }

    .login-Side-Drawer {
        margin-top: 30px;
        text-align: left;
        & .navItem {
            background-color: transparent;
        }
    }

    .dropDown {
        @include position(relative, 0, -10, none);
        min-width: 200px;
        margin: 0 auto;
        background-color: transparent;
        text-align: left;
        display: none;
        z-index: z-index(i);

        &:hover {
            display: block;
        }
    }
    .sideDrawer.active {
        transform: translateX(0);
    }

    .backdrop {
        @include position(fixed);
        width: 100%;
        height: 100%;
        z-index: z-index(e);
        background-color: color(transparent-grey);
    }
}
