@import '~bootstrap/scss/bootstrap';

@mixin flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin dropdown-hover {
    opacity: 1;
    transform: translateY(0%);
    transition: 0.2s 0.2s;
}

$heavy-grey: #1f1f1f;
$light-grey: #555454;

.logo {
    background-color: #fff;
    height: 150px;
    line-height: 150px;
    margin: 0 auto;
    font: {
        size: 2.5em;
        weight: 600;
    }
}

.login {
    font-size: 0.8em;
    width: auto;
    position: fixed;
    top: 10px;
    right: 10px;
}

.navBar {
    background-color: #fff;
    width: 100vw;
    height: 200px;
    position: sticky;
    z-index: 2;
    @include flex-vertical;
}

.navItems {
    position: relative;
    min-width: 500px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.navItem {
    flex-basis: auto;
    list-style: none;
    font-size: 1.2em;

    a {
        text-decoration: none;
        color: $heavy-grey;
    }

    &:hover a {
        color: $light-grey;
        border-bottom: 1px solid $light-grey;
    }

    &:hover + .dropDown {
        @include dropdown-hover;
    }
}

.dropDown {
    min-width: 300px;
    height: auto;
    margin-top: 30px;
    background-color: #fff;
    padding: 8px;
    position: absolute;
    top: 0;
    left: 80px;
    transform: translateY(-1000%);
    opacity: 0;
    transition: 0.3s 0.4s;
    z-index: -1;

    .dropDownItem {
        list-style: none;
        font-size: 0.9em;
        padding: 8px;

        a {
            text-decoration: none;
            color: $heavy-grey;
        }

        &:hover a {
            color: $light-grey;
            border-bottom: 1px solid $light-grey;
        }
    }
    &:hover {
        @include dropdown-hover;
    }
}

.sideDrawer {
    display: none;
}

@media (max-width: 500px) {
    .sideDrawer {
        display: block;
        position: fixed;
        width: 280px;
        max-width: 70%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(197, 198, 199, 0.411);
        padding: 32px 16px;
        box-sizing: border-box;
        z-index: 1;
        transition: transform 0.3s ease-out;
    }

    .navBar {
        display: none;
    }

    .logo-Side-Drawer {
        z-index: 2;
        text-align: left;
        font: {
            size: 1.5em;
            weight: bold;
        }
    }

    .navItems-Side-Drawer {
        z-index: 2;
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;

        & .navItem {
            background-color: transparent;
            padding: 5px 0;

            &:hover + .dropDown {
                display: block;
            }
        }
    }

    .login-Side-Drawer {
        margin-top: 30px;
        text-align: left;
        & .navItem {
            background-color: transparent;
        }
    }

    .dropDown {
        min-width: 200px;
        margin: 0 auto;

        background-color: transparent;
        position: relative;
        text-align: left;
        left: -10px;
        display: none;
        z-index: 1;

        &:hover {
            display: block;
        }
    }
}

.open {
    transform: translateX(0);
}

.close {
    transform: translateX(-100%);
}
