@mixin WL($range, $width, $height: auto) {
    @if ($range == max) {
        max-width: $width;
    } @else if($range == min) {
        min-width: $width;
    }
    width: $width;
    height: $height;
}

@mixin position($position, $top: 0, $left: 0, $right: 0) {
    position: $position;
    top: #{$top}px;
    left: #{$left}px;
    right: #{$right}px;
}

@mixin display-flex($flex-direction, $justify-content: center, $align-items: center) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin dropdown-hover {
    opacity: 1;
    transform: translateY(0%);
    transition: 0.6s 0.4s;
}

@mixin response($breakpoint) {
    @if ($breakpoint == l) {
        @media (max-width: 1250px) {
            @content;
        }
    }

    @if ($breakpoint == m) {
        @media (max-width: 850px) {
            @content;
        }
    }
}

@mixin A($color, $hoverColor, $bottomColor) {
    a {
        color: color($color);
        text-decoration: none;
    }

    &:hover a {
        color: color($hoverColor);
        border-bottom: 2px solid color($bottomColor);
    }
}
