@mixin WL($range, $width, $height: auto) {
    @if ($range == max) {
        max-width: $width;
    } @else if($range == min) {
        min-width: $width;
    }
    width: $width;
    height: $height;
}

@mixin position($position, $top: 0, $left: 0, $right: 0) {
    position: $position;
    top: #{$top}px;
    left: #{$left}px;
    right: #{$right}px;
}

@mixin display-flex($flex-direction, $justify-content: center, $align-items: center) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin dropdown-hover {
    opacity: 1;
    transform: translateY(0%);
    transition: 0.7s;
    pointer-events: auto;
}

@mixin response($breakpoint) {
    @if ($breakpoint == l) {
        @media screen and (min-width: 769px) and (max-width: 1025px) {
            @content;
        }
    }

    @if ($breakpoint == m) {
        @media screen and (min-width: 481px) and (max-width: 768px) {
            @content;
        }
    }
    @if ($breakpoint == s) {
        @media screen and (max-width: 480px) {
            @content;
        }
    }
}

@mixin A($color, $hoverColor, $bottomColor) {
    a {
        color: color($color);
        text-decoration: none;
        transition: color 0.4s;
    }

    &:hover a {
        color: color($hoverColor);
        text-decoration: none;

        @if ($bottomColor == none) {
            border-bottom: none;
        } @else {
            border-bottom: 2px solid color($bottomColor);
        }
    }
}

@mixin button {
    background-color: transparent;
    border: 1px solid color(heavy-grey);
    border-radius: 10px;
    font-size: size(s);
    color: color(heavy-grey);
    margin: 15px 0;
    padding: 6px 15px;
    outline: none;
    transition: 0.7s;

    &:hover {
        border: 1px solid color(lighter-grey);
        color: color(yellow);
    }

    &:focus {
        outline: 0;
    }
}

@mixin spinner {
    @include WL(min, 100%);
    @include display-flex(column, center, center);
    min-height: inherit;
    margin: 0 auto;
}

@mixin navActive {
    a {
        text-decoration: none;
        color: color(heavy-grey);
        transition: 0.4s;

        &:hover {
            color: color(yellow);
        }
    }

    a.active {
        color: color(yellow);
    }
}

@mixin userProfileCard {
    @include display-flex(column, space-around, flex-start);
    flex-basis: 30%;
    min-height: 40vh;
    border-radius: 5px;

    figure {
        @include WL(max, 100%, 200px);
        margin: 1rem 0;

        img {
            @include WL(max, 300px, 200px);
            object-fit: cover;
        }
    }
    .userName {
        width: 100%;
        border-bottom: 1px solid color(lighter-grey);

        h3 {
            text-align: center;
        }
    }

    .link {
        @include display-flex(column, center, flex-start);
        @include WL(max, 100%, auto);
        padding: 1rem;

        @include navActive;
    }
}

@mixin inputForm {
    & .inputBody {
        @include WL(max, 90%, 70px);
        display: block;
        position: relative;

        & input {
            @include WL(max, 100%, 100%);
            color: color(light-grey);
            padding-top: 20px;
            border: none;
            outline: none;
        }

        & label {
            color: color(heavy-grey);
            position: absolute;
            bottom: 0px;
            left: 0%;
            width: 100%;
            height: 100%;
            pointer-events: none;
            border-bottom: 1px solid color(light-grey);
        }

        & label::after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 100%;
            width: 0%;
            border-bottom: 3px solid color(yellow);
            transition: all 0.3s ease;
        }

        .errorMSG {
            position: absolute;
            color: color(heavy-grey);
            font-size: size(xs);
            bottom: 5px;
            right: 0;
        }

        .contentName {
            position: absolute;
            bottom: 5px;
            left: 0;
            transition: all 0.3s ease;
        }
        & input:not(:placeholder-shown) + .labelName .contentName,
        & input:focus + .labelName .contentName {
            transform: translateY(-150%);
            font-size: 14px;
            color: color(yellow);
        }

        & input:not(:placeholder-shown) + .labelName::after,
        & input:focus + .labelName::after {
            width: 100%;
        }
        input.invalid + label::after {
            border-bottom: 3px solid color(red);
        }

        input.invalid + .labelName .contentName {
            color: color(red);
        }
    }
}
