@import 'mixins';
@import 'variables';

.auth {
    @include WL(max, 90%);
    min-height: 50vh;
    margin: 2em auto;

    .spinner {
        @include spinner;
    }

    form {
        @include WL(max, 40%, auto);
        @include display-flex(column, center, center);
        margin: 2em auto;
        position: relative;
        padding: 1em;

        @include inputForm;
    }

    .linkAndButton {
        @include WL(max, 80%, auto);
        @include display-flex(row, space-between, center);

        .link {
            @include A(yellow, light-yellow, none);
        }

        button {
            @include button;
        }
    }
}

@include response(l) {
    .auth {
        @include WL(max, 80%);
        min-height: 60vh;
        form {
            @include WL(max, 80%, 65%);
        }
    }
}

@include response(m) {
    .auth {
        @include WL(max, 90%);
        min-height: 65vh;
        form {
            @include WL(max, 100%, 65%);
        }
    }
}

@include response(s) {
    .auth {
        @include WL(max, 90%);
        min-height: 70vh;
        form {
            @include WL(max, 100%, 75%);
        }
    }
}
