@import 'mixins';
@import 'variables';

.checkout {
    @include WL(max, 83%);
    min-height: 70%;
    padding: 1em;
    margin: 1em auto 0;
    h4 {
        text-align: left;
        margin-bottom: 0.5rem;
    }

    .checkoutItemsWrap {
        @include WL(max, 100%);
        min-height: 25vh;
        border: 1px solid color(light-yellow);
        // background-color: color(light-yellow);

        .checkoutItemsContainer {
            .checkoutItems {
                @include WL(max, 90%);
                margin: 0 auto;
                padding: 1rem;

                .checkOutHeader {
                    span {
                        font-size: size(s);
                        font-weight: weight(bold);
                    }
                }

                .checkOutItem,
                .checkOutHeader {
                    @include WL(max, 100%);
                    display: grid;
                    grid-template-columns: 40% 15% 15% 15% 15%;
                    margin: 1rem 0;

                    .editItem {
                        color: color(light-grey);
                        transition: 0.4s;
                        &:hover {
                            color: color(yellow);
                        }
                    }
                }
            }
        }

        .itemsTotal {
            text-align: right;
            @include WL(max, 90%);
            margin: 0 auto;
            padding: 1rem;
        }
    }

    .checkoutInfoWrap {
        border: 1px solid color(lighter-grey);
        margin: 2rem 0;

        .userInfoWrap {
            @include WL(max, 70%);
            grid-template-columns: 40% 60%;
            margin: 0 auto;
            padding: 1rem;
            display: grid;

            .userInfoTitle {
                font-size: size(s);
                font-weight: weight(bold);
                align-self: center;
                justify-self: start;
            }

            .userInfoList {
                @include display-flex(column, space-around, flex-start);
                padding: 0;

                li {
                    list-style: none;
                }
            }
        }

        .deliveryInfoWrap {
            @include WL(max, 70%);
            grid-template-columns: 40% 60%;
            margin: 0 auto;
            padding: 1rem;
            display: grid;

            .deliveryInfoTitle {
                font-size: size(s);
                font-weight: weight(bold);
                align-self: center;
                justify-self: start;
            }

            ul {
                padding: 0;

                li {
                    @include display-flex(row, flex-start, center);
                    margin-top: 0.5rem;
                    list-style: none;

                    input[type='radio'] {
                        color: color(yellow);
                        font-size: size(l);
                        &:visited {
                        }
                    }

                    a {
                        text-decoration: none;
                        color: color(yellow);
                        transition: 0.4s;

                        &:hover {
                            color: color(light-yellow);
                        }
                    }

                    .deliveryInfoList {
                        @include display-flex(column, center, flex-start);
                        margin-left: 2rem;
                        span {
                            em,
                            strong {
                                margin-right: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .buttonGround {
        @include display-flex(row, space-around);
        @include WL(min, 20rem);
        margin: 0 auto;

        #pay,
        #cancel {
            @include button;
        }
    }
}
