@import 'variables';
@import 'mixins';

.deliveryContainer {
    @include display-flex(row, space-around, flex-start);
    margin-top: 2rem;
    border-top: 1px solid color(lighter-grey);
    position: relative;

    .deliveryInfoCardContainer {
        @include display-flex(column, space-around, flex-start);
        padding: 1rem;
        flex-basis: 30%;
        min-height: 30vh;
        border-radius: 5px;

        h6 {
            text-align: left;
        }

        .deliveryInfoCard {
            @include WL(min, 100%);
            min-height: 200px;
            margin: 0.5rem 0;
            padding: 0.5rem;
            text-align: left;

            .deliveryInfoCardDetailWrap {
                margin-bottom: 1.5rem;

                .deliveryInfoCardDetail {
                    display: grid;
                    justify-content: stretch;
                    grid-template-rows: repeat(4, 1fr);

                    .name {
                        font-weight: weight(bold);
                        color: color(heavy-grey);
                    }

                    .phone {
                        color: color(lighter-grey);
                    }

                    .address,
                    .city {
                        color: color(light-grey);
                    }

                    span {
                        display: inline-block;
                        width: 100%;
                        text-align: left;
                    }
                }
                .operation {
                    @include display-flex(row, space-between);
                    @include WL(min, 20%);
                    margin-top: 0.5rem;

                    span {
                        cursor: pointer;
                        transition: 0.4s;

                        &:hover {
                            color: color(yellow);
                        }
                    }
                }
            }
        }
    }

    .deliveryInfoForm {
        flex-basis: 60%;
        min-height: 50vh;
        border-radius: 5px;
        position: relative;
        padding: 1rem;

        h6 {
            text-align: left;
        }

        @include inputForm;

        .btgp {
            button {
                @include button;
                margin: 1rem;
            }
        }
    }
}

.deliveryInfoSectionClose {
    cursor: pointer;
    transition: 0.4s;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: size(m);

    &:hover {
        color: color(yellow);
    }
}

button {
    @include button;
    margin-top: 2rem;
}
