@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import '~bootstrap/scss/bootstrap';
@import 'variables';
@import 'mixins';

body {
    text-align: center;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.swal2-shown > [aria-hidden='true'] {
        filter: blur(10px);
    }

    & > * {
        transition: 0.1s filter linear;
    }
}
