@import 'variables';
@import 'mixins';

.MerchandiseContainer {
    @include WL(none, 100vw, 450px);
    margin: 50px auto 20px;

    h2 {
        height: 100px;
        line-height: 100px;
        font: {
            size: size(l);
            weight: weight(bold);
        }
    }
}

.MerchandiseCarousel {
    @include WL(none, 90vw, 320px);
    margin: 0 auto;

    .slick-slider {
        max-width: 100%;

        .slick-next::before {
            content: '❯';
            color: color(heavy-grey);
        }
        .slick-prev::before {
            content: '❮';
            color: color(heavy-grey);
        }
        .slick-list {
            height: 320px;

            .MerchandiseItem {
                @include WL(none, 280px, 300px);
                margin: 0 auto;
                box-sizing: border-box;
                transform: translateY(0);
                transition: 0.5s ease-out;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 7px 10px -3px color(transparent-grey);

                    img {
                        transform: scale(1.1, 1.1);
                    }
                }

                .imgContainer {
                    @include WL(none, 100%, 65%);
                    overflow: hidden;

                    img {
                        @include WL(none, 100%);
                        object-fit: cover;
                        transition: 0.5s ease-out;
                    }
                }

                .details {
                    margin-top: 10px;
                    height: 35%;
                }
            }
        }
    }
}
