@import 'variables';
@import 'mixins';

.navBar {
    @include display-flex(column, center, center);
    @include position(sticky, 0, 0);
    @include WL(none, 100vw, auto);
    padding-bottom: 20px;
    background-color: color(white);
    z-index: z(d);

    .logo {
        @include WL(none, 30%, 50%);
        background-color: color(white);
        margin: 0 auto;
        z-index: z(i);

        a {
            line-height: 100px;
            text-decoration: none;
            color: #000000;
            font: {
                size: size(l);
                weight: weight(bold);
            }
        }
    }
    .link-group {
        @include position(fixed, 10, none, 20);
        @include display-flex(row, flex-end, center);
        @include WL(min, 100%);
        z-index: z(i);

        .shoppingBag,
        .login,
        .logout,
        .user {
            @include A(yellow, light-yellow, none);
            margin: 0 0.7rem;
            font: {
                size: size(xs);
                weight: weight(normal);
            }
            max-width: auto;
        }
    }

    .navItems {
        @include display-flex(row, space-around, none);
        @include WL(min, 300px, 30px);
        box-sizing: border-box;
    }
}

.navItem {
    @include A(lighter-grey, heavy-grey, yellow);
    flex-basis: auto;
    list-style: none;
    background-color: color(white);
    font: {
        size: size(s);
        weight: weight(bold);
    }

    &:hover + .dropDown {
        @include dropdown-hover;
    }
}

.dropDown {
    @include position(absolute, 200px, -10, 0);
    @include WL(min, 100vw);
    background-color: color(white);
    border-bottom: 1px solid color(lighter-grey);
    margin-top: 30px;
    padding: 8px;
    opacity: 0;
    transition: 0.4s;
    z-index: z(b);
    pointer-events: none;

    .dropDownItem {
        @include A(lighter-grey, heavy-grey, yellow);
        list-style: none;
        padding: 14px;
        font-size: size(xs);
    }

    &.close {
        opacity: 0;
        visibility: hidden;
    }

    &:hover {
        @include dropdown-hover;
    }
}

.sideDrawer,
.menuToggle {
    display: none;
}

@include response(l) {
    .navBar {
        @include WL(none, 100vw, auto);
    }
}
@include response(m) {
    .navBar {
        @include WL(none, 100vw, auto);
    }
}
@include response(s) {
    .navBar {
        @include WL(none, 100vw, auto);
        min-height: 10vh;
        padding: 0;

        & .navItems,
        & .logo,
        & .login,
        & .logout,
        & .user {
            display: none;
        }

        .shoppingBag {
            @include position(fixed, 10, none, 20);
        }
    }

    .menuToggle {
        @include position(fixed, 0, 15, none);
        display: block;
        font-size: size(xl);
        cursor: pointer;
    }

    .menuClose {
        @include position(absolute, 10, none, 10);
        font-size: size(l);
        cursor: pointer;
    }

    .sideDrawer {
        @include position(fixed, 0, 0, none);
        @include WL(min, 80%, 100%);
        transform: translateX(-100%);
        display: block;
        background-color: color(white);
        padding: 32px 16px;
        box-sizing: border-box;
        z-index: z(h);
        transition: 0.4s;

        .logo-Side-Drawer {
            text-align: left;
            a {
                text-decoration: none;
                color: color(heavy-grey);
                z-index: z(i);
                font: {
                    size: size(l);
                    weight: weight(bold);
                }
            }
        }

        .navItems-Side-Drawer {
            @include display-flex(column, center, flex-start);
            z-index: z(i);
            width: 100px;
            margin-top: 20px;

            & .navItem {
                background-color: transparent;
                padding: 5px 0;

                &:hover + .dropDown {
                    display: block;
                }
            }
        }
        .user-Side-Drawer-container {
            @include display-flex(column, center, flex-start);

            .login-Side-Drawer,
            .logout-Side-Drawer,
            .user-Side-Drawer {
                margin-top: 30px;
                text-align: left;
                @include A(lighter-grey, heavy-grey, yellow);
            }
        }
    }

    .dropDown {
        @include position(relative, 0, -10, none);
        min-width: 200px;
        margin: 0 auto;
        background-color: transparent;
        border-bottom: none;
        text-align: left;
        display: none;
        z-index: z(i);
        box-shadow: none;

        &:hover {
            display: block;
        }
    }

    .sideDrawer.active {
        transform: translateX(0);
    }

    .backdrop {
        @include position(fixed);
        @include WL(none, 100%, 100%);
        z-index: z(e);
        transition: 0.4s;
        background-color: color(transparent-grey);
    }
}
