@import 'variables';
@import 'mixins';

.userProfileWrap {
    @include WL(max, 83%);
    min-height: 68vh;
    padding: 1em;
    margin: 1em auto 0;

    .spinner {
        @include spinner;
    }

    h4 {
        text-align: left;
        margin-bottom: 0.5rem;
    }

    .orderContainer {
        @include display-flex(row, space-around, flex-start);
        border-top: 1px solid color(lighter-grey);

        .userProfileCard {
            @include userProfileCard;
        }

        .orderDetail {
            flex-basis: 60%;
            border-radius: 5px;
            position: relative;

            .orderNav {
                @include display-flex(row, flex-start);
                @include WL(min, 100%);
                @include navActive;
                padding: 1rem 2rem;
                border-bottom: 1px solid color(lighter-grey);

                .orderNavItem:first-child {
                    margin-right: 2rem;
                }
            }

            .orderDetailItem {
                @include display-flex(row, space-around);
                margin: 1.5rem 1rem;
                padding: 1rem;
                box-shadow: 2px 2px 5px -3px color(light-grey);

                .productBody {
                    flex-basis: 80%;
                    .products {
                        display: grid;
                        grid-template-columns: 70% 15% 15%;

                        #name {
                            font-weight: weight(bold);
                            justify-self: start;
                        }
                    }

                    .total {
                        @include WL(min, 60%);
                        display: grid;
                        margin-top: 1.5rem;
                        grid-template-columns: 50% 50%;
                        justify-items: start;

                        span {
                            color: color(yellow);
                        }
                    }
                }
            }
        }
    }
}
