@import 'variables';
@import 'mixins';

.products-container {
    @include WL(max, 70%);
    min-height: 49vh;
    margin: 0 auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .spinner {
        grid-column: 1 / span 3;
        grid-row: 1 / 3;
    }

    a {
        text-decoration: none;
        color: transparent;
        transition: 0.6s ease;
    }

    a:hover {
        text-decoration: none;
        color: color(heavy-grey);
    }

    .single-item-box {
        @include display-flex(column, center, center);
        @include WL(max, 100%, 100%);
        position: relative;
        cursor: pointer;
        margin: 0.5em 0;

        .single-item-box-line {
            margin-top: 0.8rem;
        }
    }

    .single-item {
        @include display-flex(column, center, center);
        @include WL(max, 100%, 100%);
        position: relative;
        cursor: pointer;
        margin: 0.5em 0;

        span {
            margin-top: 0.8rem;
            visibility: hidden;
            opacity: 0;
        }

        span:first-of-type {
            transition: 0.2s;

            transform: translateY(-50%);
            font: {
                size: 0.9rem;
            }
        }
        span:nth-of-type(2) {
            transition: 0.5s;
            transform: translateY(50%);
            color: color(yellow);
        }

        #itemImg {
            position: relative;
        }

        #itemImg::before {
            content: '';
            @include WL(none, 100%, 100%);
            @include position(absolute, 0, 0);
            background-color: color(transparent-grey);
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
            transition: all 0.6s ease;
        }

        &:hover #itemImg::before {
            opacity: 1;
            visibility: visible;
        }

        &:hover {
            span {
                visibility: visible;
                opacity: 1;
            }

            span:first-of-type {
                transform: translateY(0%);
                font: {
                    size: 0.9rem;
                }
            }
            span:nth-of-type(2) {
                transform: translateY(0%);
            }
        }
    }
}

.no-item {
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
    h4 {
        font: {
            // size: size(l);
            weight: weight(bold);
        }
    }

    span {
        color: color(light-grey);
    }
}

.button {
    @include button;
}

@include response(l) {
    .products-container {
        @include WL(max, 80%, auto);
        min-height: 65vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .single-item {
            @include WL(max, 100%);

            span {
                visibility: visible;
                opacity: 1;
            }

            span:first-of-type {
                color: color(heavy-grey);
                transform: translateY(0);
            }
            span:nth-of-type(2) {
                transform: translateY(0);
            }
        }

        .spinner {
            grid-column: 1 / span 2;
        }

        .no-item {
            grid-column: 1 / span 2;
            grid-row: 2 / 3;
        }
    }
}

@include response(m) {
    .products-container {
        @include WL(max, 80%, auto);
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);

        .single-item {
            @include WL(max, 100%);

            span {
                visibility: visible;
                opacity: 1;
            }

            span:first-of-type {
                color: color(heavy-grey);
                transform: translateY(0);
            }
            span:nth-of-type(2) {
                transform: translateY(0);
            }
        }
    }
}

@include response(s) {
    .products-container {
        @include WL(max, 100%, auto);
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);

        .single-item {
            @include WL(max, 100%);

            span {
                visibility: visible;
                opacity: 1;
            }

            span:first-of-type {
                color: color(heavy-grey);
                transform: translateY(0);
            }
            span:nth-of-type(2) {
                transform: translateY(0);
            }
        }
    }
}
