@import 'variables';
@import 'mixins';

.spinner {
    @include WL(max, 70%);
    @include display-flex(row, space-around, center);
    min-height: 60vh;
}

.productContainer {
    @include WL(max, 70%);
    @include display-flex(row, space-around, center);
    min-height: 60vh;
    margin: 0 auto;

    .imgContainer {
        flex-basis: 60%;

        img {
            width: 70%;
            object-fit: cover;
        }
    }

    .detailContainer {
        flex-basis: 40%;
        margin: 10px 0;
        text-align: left;

        h4 {
            position: relative;
            margin-bottom: 2rem;
        }

        h4::after {
            content: ' ';
            position: absolute;
            bottom: -1rem;
            left: 0;
            width: 250px;
            height: 2px;
            background-color: color(yellow);
        }

        .detailBody {
            margin: 1rem 0;
            @include display-flex(row, flex-start, center);
            .sizeSelector {
                padding: 0.2rem 0.7rem;
                border-radius: 5px;
            }

            button {
                background-color: color(fade-white);
                border: 1px solid color(light-grey);
                border-radius: 5px;
                margin: 0 1rem;
                padding: 0.1rem 0.8rem;
            }

            p {
                margin-top: 1.2rem;
            }

            ul.productPurchaseController {
                @include display-flex(row, space-evenly, stretch);
                @include WL(max, 35%, auto);
                margin: 0 0.6rem;
                padding: 0;
                list-style: none;
            }
        }
        .goToBag {
            @include WL(max, 30%, auto);
            @include A(yellow, heavy-grey, yellow);
        }
    }
}

@include response(l) {
    .productContainer {
        @include display-flex(column, space-around, center);
        @include WL(max, 100%);
        min-height: 70vh;

        .imgContainer {
            width: 60%;
            img {
                width: 100%;
            }
        }
        .detailContainer {
            text-align: center;

            h4 {
                margin: 1rem 0 2rem;
            }

            h4::after {
                position: absolute;
                bottom: -1rem;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 50%;
            }

            .detailBody {
                @include WL(max, 60%, auto);
                @include display-flex(row, center, center);
                margin: 1rem auto;
            }
            .goToBag {
                margin: 0 auto;
            }
        }
    }
}

@include response(m) {
    .productContainer {
        @include display-flex(column, space-around, center);
        @include WL(max, 100%);
        min-height: 75vh;

        .imgContainer {
            width: 100%;
            img {
                width: 100%;
            }
        }

        .detailContainer {
            text-align: center;

            h4 {
                margin: 1rem 0 2rem;
            }

            h4::after {
                position: absolute;
                bottom: -1rem;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 65%;
            }

            .detailBody {
                @include WL(max, 90%, auto);
                @include display-flex(row, center, center);
                margin: 1rem auto;
            }
            .goToBag {
                margin: 0 auto;
            }
        }
    }
}

@include response(s) {
    .productContainer {
        @include display-flex(column, space-around, center);
        @include WL(max, 100%);
        min-height: 75vh;

        .imgContainer {
            width: 100%;
            img {
                width: 100%;
            }
        }

        .detailContainer {
            text-align: center;

            h4 {
                margin: 1rem 0 2rem;
            }

            h4::after {
                position: absolute;
                bottom: -1rem;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 90%;
            }

            .detailBody {
                @include WL(max, 90%, auto);
                @include display-flex(row, center, center);
                margin: 1rem auto;
            }
            .goToBag {
                margin: 0 auto;
            }
        }
    }
}
