@import 'variables';
@import 'mixins';

.ShoppingBagContainer {
    @include WL(max, 80%);
    @include display-flex(column, flex-start, center);
    min-height: 50vh;
    margin: 2em auto;

    .ShoppingBagHeader {
        @include WL(max, 100%);
        @include display-flex(row, space-between, center);
        margin-bottom: 0.5rem;
        border-bottom: 1px solid color(lighter-grey);

        span {
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                color: color(yellow);
            }
        }
    }

    .checkOutItemWrap {
        @include WL(max, 100%);
        min-height: 25vh;
        padding: 2rem;

        .empty {
            & .link {
                @include WL(min, 20%);
                @include A(yellow, light-grey, yellow);
                margin: 0 auto;
            }
        }

        .checkOutItem {
            display: grid;
            grid-template-columns: 40% 20% repeat(3, 1fr);
            @include WL(max, 100%);

            .productPurchaseController {
                @include display-flex(row, space-evenly, stretch);
                @include WL(max, 100%, auto);
                list-style: none;
                padding: 0;

                .operator {
                    cursor: pointer;
                }
            }

            .removeItem {
                cursor: pointer;
            }
        }
    }

    .checkOutSummary {
        @include WL(max, 100%);
        @include display-flex(row, space-between);
        padding: 0.6rem;
        background-color: color(lighter-grey);

        span {
            font: {
                weight: weight(bold);
                size: size(m);
            }
        }

        span:first-child {
            color: color(light-grey);
        }

        span:nth-of-type(2) {
            color: color(heavy-grey);
        }
    }

    .checkOut {
        @include WL(min, 100%);
        @include display-flex(row, flex-end);
        margin-top: 2rem;
        a,
        span {
            margin-left: 2rem;
            font-weight: weight(bold);
            cursor: pointer;
            transition: 0.5s;
            color: color(yellow);
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: color(light-yellow);
            }
        }
    }
}

@include response(l) {
    .ShoppingBagContainer {
        @include WL(max, 90%);
        min-height: 72vh;
        margin: 1.7em auto;

        .checkOutOperation {
            span {
                font-size: size(xs);
            }
        }
    }
}

@include response(m) {
    .ShoppingBagContainer {
        @include WL(max, 90%);
        min-height: 62vh;
        margin: 1.9em auto;

        .checkOutItemWrap {
            padding: 1rem 0.5rem;

            .checkOutItem {
                grid-template-columns: 50% 15% repeat(3, 1fr);
                font-size: size(xs);

                span:first-child {
                    text-align: left;
                }
            }
        }

        .checkOutOperation {
            span {
                font-size: size(xs);
                @include WL(min, 50%);
            }
        }
    }
}

@include response(s) {
    .ShoppingBagContainer {
        @include WL(max, 90%);
        min-height: 60vh;

        .ShoppingBagHeader {
            h4 {
                font-size: size(m);
            }
        }

        .checkOutItemWrap {
            padding: 0;

            .checkOutItem {
                grid-template-columns: 65% 25% 10%;
                grid-template-rows: repeat(2, 1fr);
                font-size: size(xxs);
                border-bottom: 1px solid color(lighter-grey);
                align-items: center;
                min-height: 4rem;

                span:first-child {
                    text-align: left;
                }

                .productPurchaseController {
                    grid-column: 2 / 3;
                    margin: 0;

                    .operator {
                        cursor: pointer;
                    }
                }

                .removeItem {
                    cursor: pointer;
                }
            }
        }

        .checkOutSummary {
            span {
                font: {
                    size: size(xs);
                }
            }
        }

        .checkOut {
            a,
            span {
                font-size: size(xs);
            }
        }
    }
}
