.navItem {
    margin: auto;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    list-style: none;
}

.navItem:hover a {
    color: green;
}

.navItem a:active,
.navItem a.active {
    color: red;
}
